{% extends "base.html.twig" %}

{% block title "Faelivrin - Leaderboard" %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/leaderboard.css') }}">
{% endblock %}

{% block body %}
    {% set gold = 7 %}
    {% set silver = 5 %}
    {% set bronze = 3 %}

    <div class="jumbotron leaderboard">
        <h1 class="text-center">Classement par faction</h1>
        <div class="row ml-auto mr-auto mt-5">
            <div class="col-xl-3 col-lg-4 col-md-9 col-12 m-auto box gold">
                <div class="col-lg-12 faction bg-dark text-center" style="background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.9)),url('{{ asset('img/kazokubanner.jpg') }}') center no-repeat;background-size:cover;">
                    <h1>Kazoku</h1>
                    <img src="{{ asset('img/kazoku.png') }}" width="48" height="48" alt="Kazoku">
                    <h2>{{ totalKZK }} pts</h2>
                </div>
                <div class="col-lg-12 bg-dark text-center d-flex justify-content-around p-3 infomedal">
                    {% set lul = 0 %}
                    {% for d in countKZK %}
                        {% if lul == 0 %}
                            <div><img src="{{ asset('img/icon/gold-medal.png') }}" alt="Gold medal" width="16" height="16"> <span>{{ d[0][1] }}</span></div>
                        {% elseif lul == 1 %}
                            <div><img src="{{ asset('img/icon/silver-medal.png') }}" alt="Silver medal" width="16" height="16"> <span>{{ d[0][1] }}</span></div>
                        {% else %}
                            <div><img src="{{ asset('img/icon/bronze-medal.png') }}" alt="Bronze medal" width="16" height="16"> <span>{{ d[0][1] }}</span></div>
                        {% endif %}
                        {% set lul = lul + 1 %}
                    {% endfor %}
                </div>
                <div class="table-responsive">
                    <table class="table table-dark text-center mb-0">
                        <thead>
                        <th scope="col">#</th>
                        <th scope="col">Compétiteur</th>
                        <th scope="col"><img src="{{ asset('img/icon/gold-medal.png') }}" alt="Gold medal" width="16" height="16"></th>
                        <th scope="col"><img src="{{ asset('img/icon/silver-medal.png') }}" alt="Silver medal" width="16" height="16"></th>
                        <th scope="col"><img src="{{ asset('img/icon/bronze-medal.png') }}" alt="Bronze medal" width="16" height="16"></th>
                        <th scope="col">Total pts</th>
                        </thead>
                        <tbody>
                        {% set i = 1 %}
                        {% set bonus = 0 %}
                        {% for l in leaderKZK %}
                            {% if i <= 5 %}
                                <tr>
                                    <th scope="row">{{ i }}</th>
                                    <td>{{ l[0] }}</td>
                                    {% set c = 0 %}
                                    {% set totalMedal = 0 %}
                                    {% for dec in l[1] %}
                                        {% if c == 0 %}
                                            {% set totalMedal = totalMedal + gold * dec %}
                                        {% elseif c == 1 %}
                                            {% set totalMedal = totalMedal + silver * dec %}
                                        {% elseif c == 2 %}
                                            {% set totalMedal = totalMedal + bronze * dec %}
                                        {% endif %}
                                        {% set c = c + 1 %}
                                        {% if c < 4 %}
                                            <td>{{ dec }}</td>
                                        {% else %}
                                            {% set bonus = dec %}
                                        {% endif %}
                                    {% endfor %}
                                    {% set totalMedal = totalMedal + bonus %}
                                    <td>{{ totalMedal }}</td>
                                </tr>
                                {% set i = i + 1 %}
                            {% endif %}
                        {% endfor %}
                        {% if i <= 5 %}
                            {% for remplissage in i..5 %}
                                <tr>
                                    <th scope="row">{{ remplissage }}</th>
                                    <td>Personne</td>
                                    {% for dec in 1..3 %}
                                        <td>0</td>
                                    {% endfor %}
                                    <td>0</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-9 col-12 ml-3 m-auto box silver">
                <div class="col-lg-12 faction bg-dark text-center" style="background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.7)),url('{{ asset('img/voidbanner.png') }}') center no-repeat;background-size:cover;">
                    <h1>Void Travelers</h1>
                    <img src="{{ asset('img/voidtravelers.png') }}" width="48" height="48" alt="Void Travelers">
                    <h2>{{ totalVOID }} pts</h2>
                </div>
                <div class="col-lg-12 bg-dark text-center d-flex justify-content-around p-3 infomedal">
                    {% set lul = 0 %}
                    {% for d in countVOID %}
                        {% if lul == 0 %}
                            <div><img src="{{ asset('img/icon/gold-medal.png') }}" alt="Gold medal" width="16" height="16"> <span>{{ d[0][1] }}</span></div>
                        {% elseif lul == 1 %}
                            <div><img src="{{ asset('img/icon/silver-medal.png') }}" alt="Silver medal" width="16" height="16"> <span>{{ d[0][1] }}</span></div>
                        {% else %}
                            <div><img src="{{ asset('img/icon/bronze-medal.png') }}" alt="Bronze medal" width="16" height="16"> <span>{{ d[0][1] }}</span></div>
                        {% endif %}
                        {% set lul = lul + 1 %}
                    {% endfor %}
                </div>
                <div class="table-responsive">
                    <table class="table table-dark text-center mb-0">
                        <thead>
                        <th scope="col">#</th>
                        <th scope="col">Compétiteur</th>
                        <th scope="col"><img src="{{ asset('img/icon/gold-medal.png') }}" alt="Gold medal" width="16" height="16"></th>
                        <th scope="col"><img src="{{ asset('img/icon/silver-medal.png') }}" alt="Silver medal" width="16" height="16"></th>
                        <th scope="col"><img src="{{ asset('img/icon/bronze-medal.png') }}" alt="Bronze medal" width="16" height="16"></th>
                        <th scope="col">Total pts</th>
                        </thead>
                        <tbody>
                        {% set i = 1 %}
                        {% set bonus = 0 %}
                        {% for l in leaderVOID %}
                            {% if i <= 5 %}
                                <tr>
                                    <th scope="row">{{ i }}</th>
                                    <td>{{ l[0] }}</td>
                                    {% set c = 0 %}
                                    {% set totalMedal = 0 %}
                                    {% for dec in l[1] %}
                                        {% if c == 0 %}
                                            {% set totalMedal = totalMedal + gold * dec %}
                                        {% elseif c == 1 %}
                                            {% set totalMedal = totalMedal + silver * dec %}
                                        {% elseif c == 2 %}
                                            {% set totalMedal = totalMedal + bronze * dec %}
                                        {% endif %}
                                        {% set c = c + 1 %}
                                        {% if c < 4 %}
                                            <td>{{ dec }}</td>
                                        {% else %}
                                            {% set bonus = dec %}
                                        {% endif %}
                                    {% endfor %}
                                    {% set totalMedal = totalMedal + bonus %}
                                    <td>{{ totalMedal }}</td>
                                </tr>
                                {% set i = i + 1 %}
                            {% endif %}
                        {% endfor %}
                        {% if i <= 5 %}
                            {% for remplissage in i..5 %}
                                <tr>
                                    <th scope="row">{{ remplissage }}</th>
                                    <td>Personne</td>
                                    {% for dec in 1..3 %}
                                        <td>0</td>
                                    {% endfor %}
                                    <td>0</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-9 col-12 ml-3 m-auto box bronze">
                <div class="col-lg-12 faction text-center bg-dark" style="background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.7)),url('{{ asset('img/fukyubanner.jpg') }}') center no-repeat;background-size:cover;">
                    <h1>Fukyu Legacy</h1>
                    <img src="{{ asset('img/fukyulegacy.png') }}" width="48" height="48" alt="Fukyu">
                    <h2>{{ totalFUKYU }} pts</h2>
                </div>
                <div class="col-lg-12 bg-dark text-center d-flex justify-content-around p-3 infomedal">
                    {% set lul = 0 %}
                    {% for d in countFUKYU %}
                        {% if lul == 0 %}
                            <div><img src="{{ asset('img/icon/gold-medal.png') }}" alt="Gold medal" width="16" height="16"> <span>{{ d[0][1] }}</span></div>
                        {% elseif lul == 1 %}
                            <div><img src="{{ asset('img/icon/silver-medal.png') }}" alt="Silver medal" width="16" height="16"> <span>{{ d[0][1] }}</span></div>
                        {% else %}
                            <div><img src="{{ asset('img/icon/bronze-medal.png') }}" alt="Bronze medal" width="16" height="16"> <span>{{ d[0][1] }}</span></div>
                        {% endif %}
                        {% set lul = lul + 1 %}
                    {% endfor %}
                </div>
                <div class="table-responsive">
                    <table class="table table-dark text-center mb-0">
                        <thead>
                        <th scope="col">#</th>
                        <th scope="col">Compétiteur</th>
                        <th scope="col"><img src="{{ asset('img/icon/gold-medal.png') }}" alt="Gold medal" width="16" height="16"></th>
                        <th scope="col"><img src="{{ asset('img/icon/silver-medal.png') }}" alt="Silver medal" width="16" height="16"></th>
                        <th scope="col"><img src="{{ asset('img/icon/bronze-medal.png') }}" alt="Bronze medal" width="16" height="16"></th>
                        <th scope="col">Total pts</th>
                        </thead>
                        <tbody>
                        {% set i = 1 %}
                        {% set bonus = 0 %}
                        {% for l in leaderFUKYU %}
                            {% if i <= 5 %}
                                <tr>
                                    <th scope="row">{{ i }}</th>
                                    <td>{{ l[0] }}</td>
                                    {% set c = 0 %}
                                    {% set totalMedal = 0 %}
                                    {% for dec in l[1] %}
                                        {% if c == 0 %}
                                            {% set totalMedal = totalMedal + gold * dec %}
                                        {% elseif c == 1 %}
                                            {% set totalMedal = totalMedal + silver * dec %}
                                        {% elseif c == 2 %}
                                            {% set totalMedal = totalMedal + bronze * dec %}
                                        {% endif %}
                                        {% set c = c + 1 %}
                                        {% if c < 4 %}
                                            <td>{{ dec }}</td>
                                        {% else %}
                                            {% set bonus = dec %}
                                        {% endif %}
                                    {% endfor %}
                                    {% set totalMedal = totalMedal + bonus %}
                                    <td>{{ totalMedal }}</td>
                                </tr>
                                {% set i = i + 1 %}
                            {% endif %}
                        {% endfor %}
                        {% if i <= 5 %}
                            {% for remplissage in i..5 %}
                                <tr class="inactive">
                                    <th scope="row">{{ remplissage }}</th>
                                    <td>Personne</td>
                                    {% for dec in 1..3 %}
                                        <td>0</td>
                                    {% endfor %}
                                    <td>0</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row swap">
            <div class="col-xl-2 scroll m-auto">
                <a href="#down"><span></span>Classement générale</a>
            </div>
        </div>
    </div>

    <div class="jumbotron leaderboardGlobal">
        <h1 class="text-center">Classement générale</h1>

        <div class="col-xl-8 col-lg-10 col-12 ml-auto mr-auto mt-3 text-center">
            <div class="table-responsive">
                <table class="table table-dark text-center mb-0">
                    <thead>
                    <th scope="col">#</th>
                    <th scope="col">Compétiteur</th>
                    <th scope="col">Faction</th>
                    <th scope="col"><img src="{{ asset('img/icon/gold-medal.png') }}" alt="Gold medal" width="16" height="16"></th>
                    <th scope="col"><img src="{{ asset('img/icon/silver-medal.png') }}" alt="Silver medal" width="16" height="16"></th>
                    <th scope="col"><img src="{{ asset('img/icon/bronze-medal.png') }}" alt="Bronze medal" width="16" height="16"></th>
                    <th scope="col">Points total</th>
                    <th scope="col">Points FAE total</th>
                    <th scope="col">Epreuve participé</th>
                    </thead>
                    <tbody>
                    {% set count = 0 %}
                    {% set faction = "" %}
                    {% for l in leaderboard %}
                        {% if l[4] == 'Void Travelers' %}
                            {% set faction = 'img/voidtravelers.png' %}
                        {% elseif l[4] == 'Kazoku' %}
                            {% set faction = 'img/kazoku.png' %}
                        {% else %}
                            {% set faction = 'img/fukyulegacy.png' %}
                        {% endif %}
                        <tr><th scope="row">
                                {% set count = count + 1 %}
                                {% if count == 1 %}
                                    <img src="{{ asset('img/icon/gold-cup.png') }}" alt="Gold cup">
                                {% elseif count == 2 %}
                                    <img src="{{ asset('img/icon/silver-cup.png') }}" alt="Silver cup">
                                {% elseif count == 3 %}
                                    <img src="{{ asset('img/icon/bronze-cup.png') }}" alt="Bronze cup">
                                {% else %}
                                    {{ count }}
                                {% endif %}
                            </th>
                            <td>{{ l[0] }}</td>
                            <td><img src="{{ asset(faction) }}" width="48" height="48" alt="Faction icon"></td>
                            {% set c = 0 %}
                            {% set totalMedal = 0 %}
                            {% set countEpreuve = 0 %}
                            {% for dec in l[1] %}
                                {% if c == 0 %}
                                    {% set totalMedal = totalMedal + gold * dec %}
                                {% elseif c == 1 %}
                                    {% set totalMedal = totalMedal + silver * dec %}
                                {% elseif c == 2 %}
                                    {% set totalMedal = totalMedal + bronze * dec %}
                                {% endif %}
                                {% set c = c + 1 %}
                                {% if c < 4 %}
                                    <td>{{ dec }}</td>
                                {% else %}
                                    {% set bonus = dec %}
                                {% endif %}
                            {% endfor %}
                            {% set totalMedal = totalMedal + bonus %}
                            <td>{{ totalMedal }}</td>
                            <td>{{ l[2] }}</td>
                            <td>{{ l[3] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-12 ml-auto mr-auto text-center navleader" style="justify-content: ">
                    <nav aria-label="Leaderboard">
                        {{ knp_pagination_render(pagination) }}
                    </nav>
                </div>
            </div>



            <div class="row text-center mb-5 pb-4">

                <div class="col-9 scrolltop text-center">
                    <a href="#top"><span></span>Classement par faction</a>
                </div>

            </div>
        </div>

    </div>


{% endblock %}